{% extends 'base.html' %}

{% block title %}
    Assignment8
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="static/css/Assignment8.css">
{% endblock %}

{% block body %}

    {{ super() }}
    <div class="content">


         {% if session.username %}
            <h2>Hello {{ session.username }}!</h2>
        {% else %}
            <h2>Hello {{ name | default('New', true) | upper() }} {{ last_name | default('User', true) | capitalize() }}!</h2>
        {% endif %}

        {% if name or session.username %}
            <p>Hello</p>
        {% else %}
            <p>Please log in!</p>
        {% endif %}


        <h3>My hobbies:</h3>
            <ul>
                {% for key, value in profile.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}
