<!DOCTYPE html>
<html lang="en">
<head>

    <title>Carmel's resume</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/CV.css">
    <script src="static/js/CV.js"></script>
    <title>CV-Homework</title>
</head>
<body onload="carmelFunction()">
    <div class="menu">
        <a href="/">Home</a> <a href="/cv">CV</a>
    </div>
    <div id="">
       
        Hello Hello!!!
    </div>
    <div id="GridContainer"> 
        <br><h9><a href="https://www.linkedin.com/in/carmel-ben-shoshan-5405ba1bb/"><img src="static/images/linkedin.png" alt="HTML tutorial" style="width:42px;height:42px;"></a></h9>
        <h8><a href="https://www.facebook.com/carmel.shoshan/"><img src="static/images/Facebook.png" alt="HTML tutorial" style="width:42px;height:42px;"></a></h8><BR></BR>
        <h10><span>&#128231</span>: carmelbe@post.bgu.ac.il</h10>&nbsp&nbsp&nbsp<h10><span>&#128241</span>: +972524033969</h10>
        </div>
        <div id="RotatingCarmel"> <img src="static/images/ProfilePhoto.jpeg" alt="Profile Photo" width="80px" height="80px"> </div>
    <title>CV-Grid Homework</title>
</head>
<body>
    <div id="GridContainer"> 
        <div id="Name">Name:<br> Carmel Ben Shoshan</div>
        <div id="Photo"> <img src="static/images/ProfilePhoto.jpeg" alt="Profile Photo" width="80px" height="80px"> </div>
        <div id="Education"> <h4>Education: Information Systems Management Student, Third Year</h4><br><h5>at Ben Gurioun University Of The Negev</h5></div>
        <div id="Skills"> Programming languages: Java, SQL, Python, CSharp.<br>
                        Applications: Microsoft Office - PowerBI, CRM systems, MS Project and Excel<br>
                        Tools: Site development under WIX environment.
             </div>
    </div>

    <p>To contact us click </p>
    <a href="cv2.html">Here</a>

</body>
</html>